<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <h2>Welcome to your dashboard!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        dolores, ducimus laboriosam alias qui, sit fugit quis minima incidunt
        reprehenderit totam, magnam magni nemo vero! Numquam, molestias sunt.
        Optio, et?
      </p>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
